<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>服务政策</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <p style="margin:0pt; orphans:0; text-align:center; widows:0"><span
        style="font-family:仿宋; font-size:18pt; font-weight:bold">5</span><span
        style="font-family:仿宋; font-size:18pt; font-weight:bold">G</span><span
        style="font-family:仿宋; font-size:18pt; font-weight:bold">通信服务</span><span
        style="font-family:仿宋; font-size:18pt; font-weight:bold">优惠</span><span
        style="font-family:仿宋; font-size:18pt; font-weight:bold">方案</span></p>
    <p style="margin:0pt; orphans:0; text-align:justify; widows:0"><span
        style="font-family:等线; font-size:16pt; font-weight:bold"> </span><span
        style="font-family:等线; font-size:16pt; font-weight:bold">  </span>
    </p>
    <p style="margin:0pt; orphans:0; text-align:justify; text-indent:20pt; widows:0"><span
        style="font-family:仿宋; font-size:14pt">中国移动</span><span style="font-family:仿宋; font-size:14pt">宁波分公司</span><span
        style="font-family:仿宋; font-size:14pt">根据集团用户通信需求，为</span><span
        style="font-family:仿宋; font-size:14pt">优先选择中国移动5</span><span
        style="font-family:仿宋; font-size:14pt">G</span><span
        style="font-family:仿宋; font-size:14pt">通信服务的优质集团用户</span><span
        style="font-family:仿宋; font-size:14pt">提供3套优惠方案</span></p>
    <p style="font-size:14pt; line-height:130%; margin:0pt; orphans:0; text-align:justify; text-indent:10pt; widows:0">
      <span style="font-family:仿宋; font-size:14pt;font-weight:bold">一</span><span style="font-family:仿宋; font-size:14pt">、</span><span
        style="font-family:仿宋; font-size:14pt; font-weight:bold">飞悦</span><span
        style="font-family:仿宋; font-size:14pt; font-weight:bold">98移宽福</span></p>
    <div style="text-align:center">
      <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto; width:100%">
        <tr style="height:14.55pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">套餐类型</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">原资费</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.4pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">优惠后</span></p>
          </td>
          <td colspan="3"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:174.05pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">套餐说明</span></p>
          </td>
        </tr>
        <tr style="height:58.35pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">飞悦套餐</span><br /><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">集团98</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">158元/月</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">98元/月（首年）</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt">130元国内不限量（40GB后限速）</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">送30GB国内爱看流量+会员</span>
            </p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt">100分钟全国+500分钟省内移动网内</span></p>
          </td>
        </tr>
        <tr style="height:66pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">200M宽带</span>
            </p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">25元/月</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:50.8pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1元/月</span></p>
          </td>
          <td colspan="3"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:174.05pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt">宽带开户费100元/条，同时赠送100元/条话费（分10个月等额返充）。办理宽带电视免开户费，宽带电视押金50元/台，首年免费，到期后20元/月。</span>
            </p>
          </td>
        </tr>
        <tr style="height:0pt">
          <td style="width:61.6pt; border:none"></td>
          <td style="width:61.6pt; border:none"></td>
          <td style="width:61.6pt; border:none"></td>
          <td style="width:61.6pt; border:none"></td>
          <td style="width:61.6pt; border:none"></td>
          <td style="width:61.65pt; border:none"></td>
        </tr>
      </table>
    </div>
    <p style="margin:0pt; orphans:0; text-align:justify; text-indent:10pt; widows:0"><span
        style="font-family:仿宋; font-size:14pt; font-weight:bold">二</span><span
        style="font-family:仿宋; font-size:14pt; font-weight:bold">、</span><span
        style="font-family:仿宋; font-size:14pt; font-weight:bold">新入网信用购机活动</span></p>
    <div style="text-align:center">
      <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto; width:100%">
        <tr style="height:15.6pt">
          <td rowspan="2"
            style="background-color:#ffffff; border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">新入网信用购机活动</span></p>
          </td>
          <td rowspan="2"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">信用购机款（通过和包申请的购机贷款额度）</span>
            </p>
          </td>
          <td rowspan="2"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">用户还款总额（含利息）</span></p>
          </td>
          <td rowspan="2"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">用户每月还款</span><br /><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">（次月起）</span></p>
          </td>
          <td rowspan="2"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">合约周期（月）</span>
            </p>
          </td>
          <td rowspan="2"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:90.2pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt; font-weight:bold">套餐内含优惠</span>
            </p>
          </td>
        </tr>
        <tr style="height:53.25pt">
          <td style="border:none; height:53.25pt; width:0pt"></td>
        </tr>
        <tr style="height:14.25pt">
          <td rowspan="9"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span
                style="font-family:微软雅黑; font-size:9pt">省公司入围4G手机（有预装软件）</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">450</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">554 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">23 </span></p>
          </td>
          <td rowspan="9"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">24</span></p>
          </td>
          <td rowspan="9"
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:90.2pt">
            <p style="margin:0pt"><span style="font-family:微软雅黑; font-size:9pt">1、新入网赠送20元话费</span><br /><span
                style="font-family:微软雅黑; font-size:9pt">2、成功办理信用购机后，五个工作日内一次性赠送100元话费</span></p>
          </td>
        </tr>
        <tr style="height:14.25pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">700</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">861 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">36 </span></p>
          </td>
        </tr>
        <tr style="height:15pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1000</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1230 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">51 </span></p>
          </td>
        </tr>
        <tr style="height:14.25pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1200</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1476 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">62 </span></p>
          </td>
        </tr>
        <tr style="height:14.25pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1500</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1845 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">77 </span></p>
          </td>
        </tr>
        <tr style="height:14.25pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">1800</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">2214 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">92 </span></p>
          </td>
        </tr>
        <tr style="height:14.25pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">2200</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">2706 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">113 </span></p>
          </td>
        </tr>
        <tr style="height:14.25pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">2900</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">3567 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">149 </span></p>
          </td>
        </tr>
        <tr style="height:14.25pt">
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">4200</span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">5166 </span></p>
          </td>
          <td
            style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; padding-left:5.4pt; padding-right:5.03pt; vertical-align:middle; width:43.2pt">
            <p style="margin:0pt; text-align:center"><span style="font-family:微软雅黑; font-size:9pt">215 </span></p>
          </td>
        </tr>
      </table>
    </div>
    <p style="margin:0pt; orphans:0; text-align:justify; widows:0"><span
        style="font-family:仿宋; font-size:14pt"> </span><span style="font-family:仿宋; font-size:14pt"> </span><span
        style="font-family:仿宋; font-size:14pt;font-weight: bold">三、</span><span style="font-family:仿宋; font-size:14pt;font-weight: bold">集团专线尊享福</span></p>
    <p style="margin:0pt; orphans:0; text-align:justify; text-indent:20pt; widows:0"><span
        style="font-family:仿宋; font-size:14pt">单</span><span style="font-family:仿宋; font-size:14pt">集团</span><span
        style="font-family:仿宋; font-size:14pt">内新增2</span><span style="font-family:仿宋; font-size:14pt">0</span><span
        style="font-family:仿宋; font-size:14pt">户及以上</span><span style="font-family:仿宋; font-size:14pt">5</span><span
        style="font-family:仿宋; font-size:14pt">G</span><span
        style="font-family:仿宋; font-size:14pt">通信服务用户（新入网或他网携入）则集团</span><span
        style="font-family:仿宋; font-size:14pt">可享受移动专线业务2折资费优惠、50户及以上可享移动专线业务1.5折资费优惠、100户及以上可享移动专线业务1折资</span><span
        style="font-family:仿宋; font-size:14pt">费优惠。</span></p>
  </div>
</ion-content>